BraveSoftware
dconf
pulse
tpm-plugins
assets
go
gtk-4.0/gtk-dark.css
gtk-4.0/gtk.css
mozilla
Thunar
glib-2.0
xfce4
mimeapps.list
btop
zoom*
gcloud
github-copilot
configstore
gh
google-chrome
nextjs-nodejs
opencode
payload-nodejs
